<div class="grid gap-6">
  <h3 class="text-2xl font-semibold">Your Bookings</h3>
  <div class="flex gap-2">
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Search Destination</span>
      </div>
      <input
        type="text"
        (input)="onSearch($event)"
        placeholder="Where is the place?"
        class="input input-bordered w-full max-w-xs" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Check In</span>
      </div>
      <input
        type="date"
        class="input input-bordered w-full max-w-xs"
        [(ngModel)]="filters.checkInDate"
        (change)="loadBookings()" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Check Out</span>
      </div>
      <input
        type="date"
        class="input input-bordered w-full max-w-xs"
        [(ngModel)]="filters.checkOutDate"
        (change)="loadBookings()" />
    </label>
    <label class="form-control w-full max-w-xs">
      <div class="label">
        <span class="label-text">Booking Status</span>
      </div>
      <select class="select select-bordered" [(ngModel)]="filters.status" (change)="loadBookings()">
        <option value="all">All</option>
        <option value="confirmed">Confirmed</option>
        <option value="pending">Pending</option>
        <option value="cancelled">Cancelled</option>
      </select>
    </label>
    <div class="flex items-end">
      <button class="btn" (click)="clearFilter()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <span>Clear</span>
      </button>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>
            <div class="flex cursor-pointer items-center gap-1">
              <span class="grow">Destination</span>
              <app-table-sort
                [sortOrder]="sortOrders['destinationId']"
                (click)="sort('destinationId')"></app-table-sort>
            </div>
          </th>
          <th>
            <div class="flex cursor-pointer items-center gap-1">
              <span class="grow">Status</span>
              <app-table-sort [sortOrder]="sortOrders['status']" (click)="sort('status')"></app-table-sort>
            </div>
          </th>
          <th>
            <div class="flex cursor-pointer items-center gap-1">
              <span class="grow">Stays</span>
              <app-table-sort [sortOrder]="sortOrders['stays']" (click)="sort('stays')"></app-table-sort>
            </div>
          </th>
          <th>
            <div class="flex cursor-pointer items-center gap-1">
              <span class="grow">Room Type</span>
              <app-table-sort [sortOrder]="sortOrders['roomType']" (click)="sort('roomType')"></app-table-sort>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="filteredBookings().length !== 0; else emptyResult">
          <tr *ngFor="let booking of filteredBookings(); let i = index">
            <td class="capitalize">{{ (currentPage - 1) * itemPerPage + (i + 1) }}</td>
            <td class="capitalize">{{ booking.destination?.name }}</td>
            <td>
              <span class="badge capitalize" [ngClass]="{ 'badge-success': booking.status === 'confirmed' }">
                {{ booking.status }}
              </span>
            </td>
            <td>
              <div class="flex w-full items-center gap-1">
                <p class="whitespace-nowrap break-keep">{{ booking.checkInDate | date: 'd MMM y' }}</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                  </svg>
                </span>
                <p class="whitespace-nowrap break-keep">
                  {{ booking.checkOutDate | date: 'd MMM y' }}
                </p>
              </div>
            </td>
            <td>
              <span class="whitespace-nowrap break-keep capitalize">{{ booking.roomType }} Room</span>
            </td>
            <td>
              <div class="flex items-center gap-2">
                <button (click)="cancelBooking(booking.id)" *acIf="['admin']" class="link link-error">Cancel</button>
                <a routerLink="/bookings/view" *acIf="['admin', 'user']" class="link">View</a>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="mt-10 flex justify-center">
    <app-pagination
      [totalItems]="totalItems"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"></app-pagination>
  </div>
</div>

<ng-template #emptyResult>
  <tr><td>No booking founds</td></tr>
</ng-template>
