<div class="grid h-screen place-content-center items-center justify-center">
  <div class="text-center">
    <h1 class="mb-5 text-4xl font-semibold text-accent">hooootels & breakfast</h1>
  </div>
  <div class="card bg-base-300 shadow-xl">
    <form class="card-body" [formGroup]="loginForm" (ngSubmit)="login()">
      <h2 class="card-title">Login</h2>
      <div class="grid gap-2">
        <div class="grid gap-1">
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Username</span>
            </div>
            <input
              type="text"
              formControlName="username"
              placeholder="Your hero name?"
              class="input input-bordered w-full max-w-xs" />
          </label>
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" id="error-label">
            Username is required.
          </div>
        </div>
        <div class="grid gap-1">
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Password</span>
            </div>
            <input
              type="password"
              formControlName="password"
              placeholder="Shhh... It's a secret!"
              class="input input-bordered w-full max-w-xs" />
            <div class="label">
              <span class="label-text">&nbsp;</span>
              <span class="label-text">
                <a href="#" class="link link-accent">Forgot Password?</a>
              </span>
            </div>
          </label>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" id="error-label">
            Password is required.
          </div>
        </div>
      </div>
      <div class="card-actions mt-5 justify-center">
        <button class="btn btn-wide" type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
  </div>
</div>
