<div>
  <div class="flex h-screen items-center justify-center px-10">
    <div class="grid justify-center gap-4 text-center">
      <h1 class="text-5xl font-extrabold text-primary">h&b.</h1>
      <p>Relax at <span class="font-semibold text-accent">hooootels & breakfast</span> – cozy stays with a delicious breakfast to start your day!</p>
      <div class="mt-5 w-full text-center">
        <a href="" routerLink="/login" class="btn btn-sm">Member Login</a>
      </div>
    </div>
  </div>
</div>
